<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NOPE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>
    <!-- NAVBAR -->
    <div th:insert="fragments/navbar :: navbar"></div>

    <!-- CONTENT -->
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-sm" style="width: 100%; max-width: 500px;">
            <!-- Roter Header -->
            <div class="card-header bg-danger text-white text-center">
                <h4>NOPE!</h4>
            </div>
            <div class="card-body text-center">
                <p>Sorry, you don't have the necessary permissions to feast your eyes upon this exalted page!</p>
                <p>Go away, peasant!</p>
                <a th:href="@{/cars/showAllCars}" class="btn btn-primary btn-dark">Back to Overview</a>
            </div>
        </div>
    </div>
</body>
</html>