<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .loginError {
            color: red;
        }
    </style>
</head>
<body>

<h3>User Login</h3>
<form action="#" th:action="@{/auth/authenticateTheUser}" method="POST">

    <!-- Check for login errors -->
    <div th:if="${param.error}">
        <i class="loginError">Sorry, you entered an invalid email or password!</i>
    </div>

    <p>
        User email: <input type="text" id="email" name="username" />
    </p>
    <p>
        Password: <input type="password" id="password" name="password" />
    </p>
    <input type="submit" value="login" />
</form>

<br>
<a th:href="@{/auth/showRegisterPage}">No account yet? Register here!</a>
<br>
<a th:href="@{/cars/showAllCars}">Back to Overview</a>
</body>
</html>