<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h3>All our Cars</h3>
        <hr>

        <!-- "Add Car"-Button -->
        <a th:href="@{/cars/showAddCarForm}" class="btn btn-primary btn-sm mb-3">
            Add Car
        </a>
        <form action="#" th:action="@{/cars/showCarsByQuery}" th:object="${car}" method="GET">
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="Economy">Economy</option>
                <option value="Standard">Standard</option>
                <option value="Premium">Premium</option>
                <option value="Luxury">Luxury</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>


        <!-- Table that displays all the available cars in the database -->
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>Model</th>
                <th>Type</th>
                <th>Category</th>
                <th>Description</th>
                <th>Base Price</th>
                <th>Kilometer Price</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}"> <!-- loop over the list of cars; "car" is the loop variable -->
                <td> <strong th:text="${car.manufacturer + ' ' + car.model}" /> </td>
                <td th:text="${car.type}" />
                <td th:text="${car.priceCategory}" />
                <td th:text="${car.description}" />
                <td th:text="${car.basePrice}" />
                <td th:text="${car.kilometerPrice}" />
                <td th:text="${car.rentedStatus ? 'reserved' : 'available'}" />
                <!-- "Show Details"-Button-->
                <td><a th:href="@{/cars/showCarById(id=${car.id})}"
                       class="btn btn-info btn-sm" >
                    Details
                </a>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>