<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- TODO: Liste aller User anzeigen, erreichbar für EMPLOYEES und ADMINS.
TODO: EMPLOYEES können nur Customer sehen, und welche Autos ein Customer gemietet hat. Es handelt sich um eine reine Übersicht.
TODO: ADMINS können zusätzlich eine Liste der EMPLOYEES sehen.
TODO: Außerdem können sie User - Customer wie Employees - löschen.
TODO: gelangen von hier zur Seite, um neue Employees anzulegen und können Admin-Berechtigungen an Employees vergeben. (Vll. für
letzteres noch eine neue Rolle "BOSS" oder so einführen? Naja, wenn wir Zeit haben...)
</body>
</html>